<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{|/js/jquery-2.1.1.min.js|}"></script>
    <script th:src="@{|/js/jquery-3.3.1.js|}"></script>
    <script th:src="@{|/js/a.js|}"></script>
</head>
<body>


<button id="djBtn">点击</button>
<br/>
<br/>
<div id="msg" style="width:200px;height:200px;background-color:blanchedalmond;">


</div>
<br/>
<br/>
<div id="msg2" style="width:200px;height:200px;background-color:blanchedalmond;">
    asdafasf
</div>
</body>
</html>